import React from 'react';
import PropTypes from 'prop-types';

class _Page extends React.Component {
  render() {
    return (
      <div>
        页面：<%= fileName %>
      </div>
    );
  }
}

_Page.propTypes = {
  ready: PropTypes.bool,
  data: PropTypes.array,
};

export default _Page;
