import { Meteor } from 'meteor/meteor';
import _Model from '../collection';

Meteor.methods({
  '<%= className %>.create'(model) {
    const _model = new _Model(model);
    _model.save();
  },
  '<%= className %>.update'(id, model) {
    const _model = _Model.findOne(id);
    Object.assign(_model, model);
    _model.save();
  },
  '<%= className %>.delete'(id) {
    // _model = _Model.findOne(id);
    // _model.remove();
    _Model.remove(id);
  }
});
