import React from 'react';
import PropTypes from 'prop-types';

import Loading from '/imports/ui/commons/components/loading';

class _Component extends React.Component {
  render() {
    return (
      this.props.ready ?
      <div>
        hello
      </div>
      :
      <Loading/>
    );
  }
}
_Component.propTypes = {
  ready: PropTypes.bool,
  data: PropTypes.array,
};

export default _Component;
