import {Mongo} from 'meteor/mongo';
import {Class} from 'meteor/jagi:astronomy';

const _Modle = Class.create({
  name: '<%= className %>',
  collection:  new Mongo.Collection('<%= fileName %>'),
  fields: {

  }
});
export default _Modle;
